code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

button {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  padding-right: 50px;
}

nav h1
{
  display: inline block;
  color: white;
  float: left;
  margin: 0;
  margin-left: 30px;
}

nav a
{
  text-decoration: none;
}

.EditCarPage,
.EditEventPage {
  background-color: rgb(239, 196, 88);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUpPage,
.LoginPage {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  color: black;
  width: 40%; 
  margin-top: 80px;
  box-shadow:0 15px 4px rgba(0,0,0,0.06);
}

.SignUpPage h1,
.LoginPage h1 {

  color: red;
}

.LoginPage label, .SignUpPage label
{
  width: 75%;
  text-align: left;
}

.LoginPage input[type=email], .LoginPage input[type=password], 
.SignUpPage input[type=email], .SignUpPage input[type=password], .SignUpPage input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.LoginPage button[type=submit], .SignUpPage button[type=submit] {
  width: 25%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.car-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card
{
  display: inline-block;
  width: 28%;
  margin: 3%;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  color: black;
  text-align: left;
  box-shadow:0 15px 4px rgba(0,0,0,0.06);
}
.card a
{
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.card span
{
  display: inline-block;
}

.update-form {
  display: flex;
  flex-direction: coloumn;
  align-items: center;
  padding:10px;
  border:0;
  box-shadow:0 15px 4px rgba(0,0,0,0.06);
}